.hidden{
    display: none;
}
.notHidden{
    margin: 1vh;
}
.signup{
    /* background: var(--comfyGray); */
    text-align: right;
    display: flex;
}
.signupButtons{
    width: 20vw;
    display: flex;

    justify-content: space-between
}
.signupButton{
    color: white;
    width: 8vw;
    height: 3.5vh;
    background: var(--overcast);
    box-shadow: none;
    border: solid 1px black;
    border-radius: 3px;
}
.signupButton:hover{
    background-color: var(--hover);
  cursor: pointer
}
@media(max-width:500px){
    .signupButton{
        height: 40px;
        width: 40vw;
    }
    .signupButtons{
        width: 100%;
    }
    .signup{
        display: flex;
        text-align: center;
        flex-flow: column;
    }
    .notHidden{

    }
}