.hidden{
    display: none;
}
.notHidden{
    margin: 1vh;
}
.signup{
    /* background: var(--comfyGray); */
    text-align: right;
    display: flex;
}
.signupButtons{
    width: 20vw;
    display: flex;

    justify-content: space-between
}
.signupButton{
    width: 7vw;
    height: 3vh;
    background: var(--comfyGray);
    box-shadow: none;
    border: solid 1px black;
    border-radius: 3px;
}
.signupButton:hover{
    background-color: rgb(236, 236, 236);
  cursor: pointer
}