.CompanyListing{
    padding-top: 2vh;
}
.listingHolderCompany{
    position: relative;
    display: flex;
    background-color: var(--backgrounds);
    width: 45%;
    margin: 5px;
    height: 15vh;
    padding: 5px;
    /* height: 15vh; */
    overflow: hidden;
    border-radius: 4px;
    box-shadow: 1px 1px 7px -2px black,-1px -1px 7px -2px rgb(39, 39, 39);
    /* border: solid rgb(85, 85, 85) 1px; */
}
.leftAlign{
    margin-left: 10px;
    display: flex;
    flex-flow: column;
    text-align: left;
}
.listingHolderStatus{
    position: relative;
    display: flex;
    background-color: var(--backgrounds);
    width: 45%;
    margin: 5px;
    padding: 5px;
    height: 10vh;
    overflow: hidden;
    border-radius: 4px;
    box-shadow: 1px 1px 7px -2px black,-1px -1px 7px -2px rgb(39, 39, 39);
    /* border: solid rgb(85, 85, 85) 1px; */
}
.build{
    color: white;
    text-decoration: none;
    width: 77vw;
min-height: 15vh;
background-color: var(--overcast);
margin: 1vh;
display: flex;
justify-content: center;
align-items: center;
font-size: 300%;
border-radius: 4px;
border: solid black 1px;
}
.build:hover{
    cursor: pointer;
    background: var(--hover)
}
.companyComplatedListingHolder{
    position: relative;
}
.colorDot{
    position: relative;
    right: 1%;
    width: 60%;
    height: 2vh;
    border-radius: 4px;
    background: gray
}
#completeListingButton{
    position: relative;
    bottom: 10px;
    color: white;
 /* margin-bottom: 2vh; */
height: 4vh;
width: 6vw;
border: solid rgb(85, 85, 85) 1px;
background: var(--overcast);
border-radius: 3px;
}
#completeListingButton:hover{
    cursor: pointer;
    background: var(--hover)
}
#red{
background: red;
width: 25%;
}
#green{
    background: green;
    
}
#yellow{
    background: yellow;
    width: 50%
}
