.completeListingButton{
    color: white;
    margin: 1%;
    height: 100%;
    width: 60%;
    background: var(--overcast);
    box-shadow: none;
    border: solid 1px black;
    border-radius: 3px;
    text-decoration: none;
    font-size:100%;
  }
  .listingHolderYours{
    position: relative;
    max-height: 15vh;
    display: flex;
    background-color: var(--backgrounds);
    width: 60%;
    margin: 5px;
    padding: 5px;
    /* height: 15vh; */
    overflow: hidden;
    border-radius: 4px;
    box-shadow: 1px 1px 7px -2px black,-1px -1px 7px -2px rgb(39, 39, 39);
    /* border: solid rgb(85, 85, 85) 1px; */
}
  #completeListingButton:hover{
    background-color: rgb(236, 236, 236);
    cursor: pointer
  }
  .buttonWrap{
      /* height: 38%; */
      width:100%;
      margin-top: 5px;
  }
  #delete:hover{
    cursor: pointer;
    background: var(--hover)
  }
  .listingRightSideYours{
      position: relative;
      bottom: 1px;
      right:1px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width:20%;
    /* height: 150%;  */
  }
  .fillAppButtonYours{
    color: white;
 /* margin-bottom: 2vh; */
height: 5vh;
width: 7vw;
border: solid rgb(85, 85, 85) 1px;
background: var(--overcast);
border-radius: 3px;
}
.fillAppButtonYours:hover{
    cursor: pointer;
    background: var(--hover)
}
/* .yoursButtons{
    position: relative;
    height: 100%;
    bottom: 10px;
} */