.placeholder{
    background-color: white;
    height: 20vh;
    width: 70vw;
    display: flex;
    flex-flow: column;
    /* justify-content: space-around; */
    align-items: center;
    margin-top: 1vh;
    justify-content: center
}
.textAnswer{
    display: flex;
    flex-direction: row;
}
.hidden{
    display: none;
}
.show{
    display: show;
}