.loginHolder{
    position: relative;
width: 100%;
height: 94vh;
display: flex;
justify-content: center;
align-items: center;
}
.innerLogin{
    position: relative;
    bottom: 20%;
    text-align: center;
    
}
.loginTitle{
    font-size: 5vh;
}
.loginText{
    font-size: 2vh;
    margin-bottom: 5px;
}
.newUser{
    position: relative;
    top:8vh
}
.login{
    position: relative;
    top:1vh;
}
.loginButton{
    color: white;
    width: 8vw;
    height: 3.5vh;
    background: var(--overcast);
    box-shadow: none;
    border: solid 1px black;
    border-radius: 3px;
  }
  .loginButton:hover{
    background-color: var(--hover);
    cursor: pointer
  }
  @media (max-width : 500px) {
.loginButton{
    width: 80vw;
    height: 5vh;
}
}