.placeholder{
    background-color: white;
    border-radius: 3px;
    padding: 1vh;
    height: 20vh;
    width: 70vw;
    display: flex;
    flex-flow: column;
    /* justify-content: space-around; */
    align-items: center;
    margin-top: 1vh;
    justify-content: center;
}
.textAnswer{
    display: flex;
    flex-direction: row;
}
.hidden{
    display: none;
}
.show{
    display: show;
    overflow: auto;
}
.createBox{
    width: 75vw;
    /* min-height: 85vh; */
    margin: 2vh;
    display: flex;
    align-items: center;
    padding-top: 2vh;
    flex-direction: column;
    border-radius: 3px;
    /* box-shadow: 1px 1px 7px -2px black,-1px -1px 7px -2px rgb(39, 39, 39); */

}

#fullCenter{
    display: flex;
    align-items: center;
    align-content: center;
}
.container{
    padding: 1vh;
    background-color: white;
    height: 40vh;
    width: 70vw;
    display: flex;
    flex-direction: column;
    border-radius: 3px;
    box-shadow: 1px 1px 7px -2px black,-1px -1px 7px -2px rgb(39, 39, 39);

}
.logo{
height: 15vh;
width: 15vh;
border-radius: 50%;
background-color: black;

}
.multipleChoice{
    height: 3vh;
}
.multiAnswer{
    height: 3vh;
    padding:  5px;
}
.placeholderQuestion {
    box-shadow: 1px 1px 7px -2px black,-1px -1px 7px -2px rgb(39, 39, 39);
    background-color: white;
    border-radius: 3px;
    padding: 1vh;
    height: 20vh;
    width: 70vw;
    display: flex;
    flex-flow: column;
    /* justify-content: space-around; */
    align-items: center;
    margin-top: 1vh;
    justify-content: center;
}
.inputQuestion{
    width: 70%;
    height: 30%;
    margin: 5px;
}
.inputPoints{
    width: 40%;
    margin: 5px;
    margin-left: 15px;
}
.infos{
display: flex;
justify-content: space-around;
font-size: 16px;
font-weight: bold;
}

.info{
    margin-bottom: .75vh;
    height: 30%;
}
.logoInner{
    height: 14.5vh;
    width: 14.5vh;
    border-radius: 50%;
    background-color: black;
}
.addAnotherQuestion{
    position: relative;
    color: white;
    margin-top: 15px;
 /* margin-bottom: 2vh; */
height: 4vh;
width: 10vw;
border: solid rgb(85, 85, 85) 1px;
background: var(--overcast);
    box-shadow: none;
    border: solid 1px black;
    border-radius: 3px;
  }
  .asbolute{
      position: relative;
  }
  .submitListing{
    color: white;
    margin-top: 15px;
 /* margin-bottom: 2vh; */
height: 4vh;
width: 10vw;
border: solid rgb(85, 85, 85) 1px;
background: var(--overcast);
    box-shadow: none;
    border: solid 1px black;
    border-radius: 3px;
  }
  .createListingButton:hover{
    background-color: rgb(236, 236, 236);
    cursor: pointer
  }
.companyInfoContainer{
    width: 100%;
    position: relative;
    display: flex;
    justify-content: space-between;
    height: 20%;
}
        .topInfoContainer{
            width: 33.3%;
            height: 100%;
            font-weight: bold;
            font-size: 16px
        }
.companyInfo{
width: 90%;
height: 3vh;
}
.createListingP{
    height: 2vh;
    font-size: 16px;
    margin: 0;
    padding: 0;
    font-weight: bold;
}
.textAnswer{
display: flex;
flex-direction: row;
overflow: auto
}
.textArea{
    height: 70%;
    width: 90%;
}
.leftQuestion{
    width:40%;
    display: flex;
    flex-flow: column;
}
.anothermulti{
    position: absolute;
    right: 1px;
    bottom: 2px;
    color: white;
 /* margin-bottom: 2vh; */
height: 4vh;
width: 15%;
border: solid rgb(85, 85, 85) 1px;
background: var(--overcast);
border-radius: 3px;
}
.question{
    position: relative;
    height: 100%;
    width: 100%;
    text-align: left;
    display: flex;
    flex-flow: row;
    /* align-items: flex-start */
}
@media (max-width : 600px) {
    .container{
       width: 90vw;
       height: inherit;
       display: flex;
       flex-flow: column;
       align-content: center;
       justify-content: center;
    }
    .createBox{
        width: 90vw;
    }
    .topInfoContainer{
        width: 100%;
        height: inherit;
        /* margin-top: 20px; */
        margin-bottom: 20px;
    }
    .companyInfo{
        height: 4vh;
    }
    .companyInfoContainer{
        flex-flow: column;
        align-content: center;
        /* height: 40vh; */
        width: 95vw;
    }
    .info{
        height: inherit;
    }
    .textArea{
        height: 17vh;
    }
    .addAnotherQuestion{
        width: 200px;
        height: 50px;
    }
    .submitListing{
        width: 200px;
        height: 50px;
    }
    .placeholderQuestion{
        width: 90vw;
        display: flex;
        flex-flow: column;
        height: inherit
    }
    .question{
        display: flex;
        flex-flow: column;
        height: inherit;
        overflow: visible;
    }
    .leftQuestion{
        width: 90%;
    }
    .inputQuestion{
        width: 100%;
    }
    .anothermulti{
position: relative;
    }
    .textAnswer{
        flex-flow: column;
        margin-bottom: 5px;
        margin-top: 5px;
    }
    .multiAnswer{
        width: 85vw;
    }
    .multipleChoice{
        width: 40vw;
    }
    }