.App {
  text-align: center;
  min-width:100vw;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.spacer{
  background: rgb(194, 194, 194);
  width:80vw;
  min-height: 92vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
}
.center{
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
}